* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242526;
  font-family: sans-serif;
  text-align: center;
  color: #e4e6eb;
}

.App h1 {
  color: #e4e6eb;
  background-color: #18191a;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #888;
}

input,
.form button {
  width: 200px;
  height: 40px;
  border: 1px solid #888;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

button {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.post {
  width: 70%;
  background-color: #18191a;
  border: 1px solid #666;
  color: #e4e6eb;
  padding: 10px;
  margin: 10px auto;
}

.post > h2, .post > p{
    word-break: break-word;
    margin-bottom: 10px;
    padding: 0 10px;
}

.post button {
  width: 150px;
  height: 35px;
  display: inline-block;
  margin: 5px;
}

.update {
  background-color: #196b19;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.esc {
  width: 50px !important;
  background-color: #910a0a;
  color: #fff;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
